HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

## Internal Spring Boot Projects ##
**/HELP.md
**/.gradle
**/build/
**/!gradle/wrapper/gradle-wrapper.jar
**/!**/src/main/**/build/
**/!**/src/test/**/build/
**/logs
**/.env

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

notifications-web/node_modules
notifications-web/dist
notifications-web/dist-ssr
notifications-web/.vscode/*
notifications-web/!.vscode/extensions.json
notifications-web/.idea
notifications-web/.DS_Store

.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?